src/.deps/
.idea/
build/
autom4te.cache/
Makefile.in
aclocal.m4
compile
config.guess
config.sub
depcomp
install-sh
ltmain.sh
m4/
missing
src/*.o
src/*.lo
src/.libs/
src/.dirstamp
configure~

config.log
config.status
libtool
Makefile
